* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: blue;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  position: relative;
  width: 100%;
}

.flonne-stage {
  position: relative;
  width: 100%;
  height: calc(4093px - 350px);
  overflow: hidden;
}

.flonne-stage img {
  position: absolute;
  top: -350px;
  left: 50%;
  width: 2894px;
  max-width: none;
  margin-left: calc(-1447px - 100px);
}
